/*#region common*/
body, html {
  font-family: 'Comfortaa','Open Sans', sans-serif;
}
.btn-xl {
  padding: .6rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
}
/*#endregion*/

.main-page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.main-page-navigation{
  width: 40%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem 3rem 6rem;
}
.main-page-illustration {
  width: 60%;
}
.main-page-illustration img {
  height: 100vh;
  width: auto;
  position: absolute;
  right: 0;
}
header .masthead {
  background-color: #fff;
}
.main-page-navigation .navbar-brand {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
}
.main-page-navigation .navbar-nav .nav-link {
  padding: 3px 0px;
  color: #000;
  font-size: 0.9rem;
}
header.masthead .banner img {
    width: auto;
}
#benefits .container .row {
  margin: 5rem auto;
}
#benefits .container .row:nth-child(even) {
  flex-direction: row-reverse;
}
#benefits .container .row .item-intro {
  padding: 5rem;
  font-size: 1.25rem;
}

/*#region process*/
#process {
  background-image: linear-gradient(#FFF3D2, #fff);
  position: relative;
  padding: 5rem 0;
}
#process .process-item {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 3rem;
}
#process .process-item .process-item-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFC93D;
  display: flex;
  justify-content: center;
  align-items: center;
}
#process .process-section-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -5%;
}
#process .process-item .process-item-info .info-header {
  color: #000;
  font-weight: bold;
}
#process .process-item .process-item-info .info-content {
  color: #7D7D7D;
}
/*#endregion*/
/*#region call to action*/
#getajob {
  padding: 4rem 0;
  background-color: #FFC735;
}
.cta-description {
  padding: 4rem 0;
}
.cta-description h2 {
  margin-bottom: 0.5rem!important;
}
/*#endregion*/



@media screen and (min-width: 1200px) {
header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 140px;
    padding-bottom: 0;
}
header.masthead .banner img {
  width: 95%;
}

}
@media screen and (max-width: 1200px) {
    header.masthead .banner img {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #benefits .container .row:nth-child(even) {
    flex-direction: row;
  }
  #benefits .container .row img{
    width: 100%;
  }
  .page-section {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .masthead {
    margin-top: 8rem;
  }
  #getajob {
    margin: 5rem auto;
  }
  header.masthead .banner {
    margin: 2rem auto;
}
}
@media screen and (max-width: 552px) {

  #benefits .container .row img{
    width: 80%;
    margin: auto;
  }

}
