/*#region common*/
body, html {
  font-family: 'Comfortaa','Open Sans', sans-serif;
}
.btn-xl {
  padding: .6rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
}
/*#endregion*/

.main-page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.main-page-navigation{
  width: 40%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem 3rem 6rem;
}
.main-page-illustration {
  width: 60%;
}
.main-page-illustration img {
  height: 100vh;
  width: auto;
  position: absolute;
  right: 0;
}
header .masthead {
  background-color: #fff;
}
.main-page-navigation .navbar-brand {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
}
.main-page-navigation .navbar-nav .nav-link {
  padding: 3px 0px;
  color: #000;
  font-size: 0.9rem;
}
header.masthead .banner img {
    width: auto;
}
/*#region main page*/
.main-page-heading {
  font-size: 2.5rem;
}
/*#endregion*/
/*#region benefits*/
#benefits {
  position: relative;
  margin: 3rem 0rem 5rem;
}
.benefits-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1rem;
}
.benefits-illustration-large {
  position: absolute;
  top: 0;
  left: 10%;
}
.benefits-illustration-small {
  position: absolute;
  right: 15%;
  top: 40%;
}
#benefits .container .row {
  margin: 2rem auto;
} 

#benefits .benefit-item {
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(175, 175, 175, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(175, 175, 175, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(175, 175, 175, 0.5);
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem 2rem;
}

/*#endregion*/
/*#region process*/
#process {
  background-image: linear-gradient(#FFF3D2, #fff);
  position: relative;
  padding: 5rem 0;
}
#process .process-item {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-bottom: 3rem;
}
#process .process-item .process-item-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFC93D;
  display: flex;
  justify-content: center;
  align-items: center;
}
#process .process-section-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -5%;
  -webkit-box-shadow: 0px 0px 22px 2px rgb(255, 245, 218);
  -moz-box-shadow: 0px 0px 22px 2px rgb(255, 245, 218);
  box-shadow: 0px 0px 22px 2px rgb(255, 245, 218);
}
#process .process-item .process-item-info .info-header {
  color: #000;
  font-weight: bold;
}
#process .process-item .process-item-info .info-content {
  color: #7D7D7D;
}
/*#endregion*/
/*#region call to action*/
#getajob {
  padding: 4rem 0;
  background-color: #FFC735;
}
.cta-description {
  padding: 4rem 0;
}
.cta-description h2 {
  margin-bottom: 0.5rem!important;
}
/*#endregion*/


/*#region responsive*/
@media screen and (min-width: 1920px) {
  .benefits-illustration-small {
    position: absolute;
    right: 20%;
    top: 40%;
    transition: 0.2s all ease;
  }
  .benefits-illustration-large {
    position: absolute;
    top: 0;
    left: 18%;
    transition: 0.2s all ease;
}

}

@media screen and (max-width: 1600px) {
  .benefits-illustration-large {
    position: absolute;
    top: 0;
    left: 10%;
    transition: 0.2s all ease;
  }
}
@media screen and (max-width: 1366px) {
  .benefits-illustration-large {
    position: absolute;
    top: 0;
    left: 5%;
    transition: 0.2s all ease;
  }
  .benefits-illustration-small {
    position: absolute;
    right: 10%;
    top: 40%;
    transition: 0.2s all ease;
}

}
@media screen and (max-width: 1280px) {
  .benefits-illustration-large {
    position: absolute;
    top: 0;
    left: 2%;
    transition: 0.2s all ease;
  }
}
@media screen and (min-width: 1200px) {
  header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 140px;
      padding-bottom: 0;
  }
  header.masthead .banner img {
    width: 95%;
  }
  
  }
  @media screen and (max-width: 1200px) {
      header.masthead .banner img {
        width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .main-page-heading {
      font-size: 1.8rem;
    }
    
    #benefits .container .row:nth-child(even) {
      flex-direction: row;
    }
    #benefits .container .row img{
      width: 100%;
    }
    .page-section {
      padding: 0;
    }
    .benefits-illustration-large img{
      transition: 0.2s all ease;
      width: 60%;
    }
    #benefits {
      position: relative;
      margin: 1rem 0 0rem!important;
      padding: 7rem 0 5rem!important;
    }
    .benefits-title {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 0.5rem;
    }
    .benefits-illustration-large {
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.2s all ease;
    }
  }
  @media screen and (max-width: 1024px) {
    .main-page {
      display: flex;
      flex-wrap: wrap;
      height: auto;
  }
    .main-page-navigation {
      width: 40%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      padding: 3rem 0rem 2rem 4rem;
  }
    .main-page-illustration img {
      height: 100vh;
      width: 100%;
      position: initial;
      right: 0;
    }
    .main-page-illustration img {
      height: auto;
      width: 100%;
      position: initial;
      right: 0;
    }
    #benefits {
      position: relative;
      margin: 3rem 0 8rem;
      padding: 12rem 0 5rem;
  }
    #benefits .container .row {
      margin: 0;
    }
    #benefits .container .row .mg-responsive {
      margin-bottom: 1rem;
    }
    .benefits-illustration-large {
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.2s all ease;
    }
    #process {
      background-image: linear-gradient(#FFF3D2, #fff);
      position: relative;
      padding: 5rem 0 1rem;
    }
    #getajob {
      padding: 4rem 3rem;
      background-color: #FFC735;
    }
  }
  @media screen and (max-width: 640px) {
    .benefits-illustration-large, .benefits-illustration-small {
      display: none;
    }
    #benefits .container .row .mg-responsive {
      padding: 0rem 3rem;
    }
    #process {
      padding: 4rem 0rem 2rem;
    }
    #process .process-item .process-item-info .info-header {
      text-align: left;
    }
    #process .process-item .process-item-image {
      margin: auto;
      margin-bottom: 1rem;
      width: 50px;
      height: 50px;
    }
    #process .process-item .process-item-image img {
      width: 50%;
    }
    .process-section-flow {
      padding: 0rem 5rem;
      text-align: justify;
    }
    #process .process-heading {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0rem 3rem;
    }
    .main-page-navigation {
      padding: 1rem 0rem 0rem 1.5rem;
    }
    .main-page-navigation .navbar-brand {
      font-size: 1rem;
    }
    .main-page-navigation .navbar-nav .nav-link {
      padding: 0.1rem;
      color: #000;
      font-size: 0.5rem;
    }
    .main-page-heading {
      font-size: 0.9rem;
    }
    .main-page-short-intro {
      font-size: 0.5rem;
    }
    .main-page-short-intro .btn {
      padding: 0.3rem 0.9rem;
      font-size: 0.4rem;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      border-radius: 0.2rem;
      margin-top: 0.3rem!important;
    }
    #benefits {
      position: relative;
      margin: 2rem 0 0rem!important;
      padding: 1rem 0 4rem!important;
    }
    .benefits-brand-image {
      text-align: center;
    }
    #benefits .container .row img{
      width: 70%;
      margin: auto;
    }
    #benefits .benefit-item {
      padding: 1.5rem 2rem;
      font-size: 0.7rem;
    }
    .benefits-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: 0rem;
    }
    .process-item-info {
      font-size: 0.8rem;
    }
    #process .process-item {
      margin-bottom: 1rem;
    }
    #getajob {
      margin: 0rem auto;
      padding: 0rem 1.5rem 2rem;
      text-align: justify;
    }
    .cta-description {
      text-align: center;
      font-size: 0.6rem;
      padding: 3rem 0 1rem;
    }
    .cta-description h2 {
      font-size: 1rem;
    }
    .cta-image {
      text-align: center;
    }
    .cta-image img {
      width: 60%;
    }
  
  }
  @media screen and (max-width: 552px) {
  

  }
  
/*#endregion*/

